{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
  <div class="container-md bg-light shadow rounded py-2" style="width: 400px;">
    <div class="d-flex mx-auto flex-column justify-content-center">
      <h2 class="mx-auto">Sign Up</h2>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:'form-control' }}
            {% for error in field.errors %}
              <span class="help-block">{{ error }}</span>
              </div>
            {% endfor %}
        {% endfor %}
        <button type="submit" class="my-4 btn btn-primary btn-block">
          Sign Up
        </button>
      </div>
    </form>
  </div>
{% endblock %}
